<!DOCTYPE html>
<html lang="en">
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roost - Material Design Real Estate</title>
    <!-- Vendors -->
    <!-- Material design colors -->
    <link href="~/vendors/roost/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!-- CSS animations -->
    <link rel="stylesheet" href="~/vendors/roost/vendors/bower_components/animate.css/animate.min.css">
    <!-- Select 2 - Custom Selects -->
    <link rel="stylesheet" href="~/vendors/roost/vendors/bower_components/select2/dist/css/select2.min.css">
    <!-- Calendar -->
    <link rel="stylesheet" href="~/vendors/roost/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <!-- Site -->
    <link rel="stylesheet" href="~/vendors/roost/css/app_1.min.css">
    <link rel="stylesheet" href="~/vendors/roost/css/app_2.min.css">
    <!-- Page Loader JS -->
    <script src="~/vendors/roost/js/page-loader.min.js" async></script>
    @RenderSection("Styles", false)
</head>
<body>
    <!-- Start page loader -->
    <div id="page-loader">
        <div class="page-loader__spinner"></div>
    </div>
    <!-- End page loader -->
    @Html.Partial("TopMenuPartial")
    <main id="main">
        @Html.Partial("MainMenuPartial")
        <section id="main__content">
            <div class="main__container">
                @RenderBody()
            </div>
        </section>
        <footer id="footer-alt">
            Copyright © @DateTime.UtcNow.Year Rabun Ltd.
        </footer>
    </main>
    <!-- Javascript -->
    <!-- jQuery -->
    <script src="~/vendors/roost/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/roost/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Waves button ripple effects -->
<script src="~/vendors/roost/vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="~/vendors/roost/vendors/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- Calendar -->
    <script src="~/vendors/roost/vendors/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="~/vendors/roost/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <!-- Charts -->
    <script src="~/vendors/roost/vendors/bower_components/Flot/jquery.flot.js"></script>
    <script src="~/vendors/roost/vendors/bower_components/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/roost/vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/vendors/roost/vendors/bower_components/Flot/jquery.flot.resize.js"></script>
    @RenderSection("VendorScripts", false)

<!-- IE9 Placeholder -->
    <!--[if IE 9 ]>
    <script src="~/vendors/roost/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    <!-- Site functions and actions -->
<script src="~/vendors/roost/js/app.js"></script>
</body>
</html>
