@using HomeApp.Site.Areas.Office.ViewModels
@model SetPersonProfileViewModel
@Html.Partial("Partials/Header")

<div class="submit-property">
    @Html.Partial("Partials/Steps", new StepViewModel { Step = 2, UserType = Model.UserType })
    <div class="tab-content submit-property__content">
        <div class="tab-pane fade in active">
            <div class="card">
                <div class="card__header">
                    <h2>Персональные данные</h2>
                    <small>Поля помеченные звездочкой (*) являются обязательными для заполнения!</small>
                </div>
                <form class="card__body" asp-area="Office" asp-controller="Profile" asp-action="SetPersonProfile" method="post" id="person-form">
                    <input type="hidden" name="UserId" value="@Model.UserId" />
                    <input type="hidden" name="UserType" value="@Model.UserType" />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group--float form-group--float-center">
                                <input type="text" name="LastName" value="@Model.LastName" class="form-control text-center">
                                <i class="form-group__bar"></i>
                                <label>Фамилия</label>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group form-group--float form-group--float-center">
                                <input type="text" name="FirstName" value="@Model.FirstName" class="form-control text-center">
                                <i class="form-group__bar"></i>
                                <label>Имя</label>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group form-group--float form-group--float-center">
                                <input type="text" name="MidName" value="@Model.MidName" class="form-control text-center">
                                <i class="form-group__bar"></i>
                                <label>Отчество</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group--float form-group--float-center">
                        <input type="datetime" name="DateBirth" value="@Model.DateBirth" class="form-control text-center">
                        <i class="form-group__bar"></i>
                        <label>Дата рождения</label>
                    </div>

                    <div class="form-group">
                        <label>Ваш пол</label>
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn @(Model.Sex == null ? "active" : "")">
                                    <input type="radio">Не указано
                            </label>
                            <label class="btn @(Model.Sex == true ? "active" : "")">
                                @if (Model.Sex == true)
                                {
                                    <input type="radio" asp-for="Sex" value="true" checked="checked">@:Мужчина
                                }
                                else
                                {
                                    <input type="radio" asp-for="Sex" value="true">@:Мужчина
                                }
                            </label>
                            <label class="btn @(Model.Sex == false ? "active" : "")">
                                @if (Model.Sex == false)
                                {
                                    <input type="radio" asp-for="Sex" value="false" checked="checked">@:Женщина
                                }
                                else
                                {
                                    <input type="radio" asp-for="Sex" value="false">@:Женщина
                                }
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group--float form-group--float-center">
                                <input type="text" name="Phones[0]" value="@Model.Phones?.FirstOrDefault()" class="form-control text-center">
                                <i class="form-group__bar"></i>
                                <label>Основной телефон</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group form-group--float form-group--float-center">
                                <input type="text" name="Phones[1]" value="@Model.Phones?.LastOrDefault()" class="form-control text-center">
                                <i class="form-group__bar"></i>
                                <label>Дополнительный телефон</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group--float form-group--float-center">
                        <input type="text" name="Address" value="@Model.Address" class="form-control text-center">
                        <i class="form-group__bar"></i>
                        <label>Адрес</label>
                    </div>

                    <a href="javascript:{}" onclick="document.getElementById('person-form').submit();" data-toggle="tab" class="btn btn--circle btn-primary submit-property__button">
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Styles
    {
    <link rel="stylesheet" href="~/css/profile.css" />
}

